[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]


[dev-packages]
# Code quality
# -----------------------------------------------------------------------------
pycodestyle = "*"  # https://github.com/pycqa/pycodestyle
pylint = "*"  # https://github.com/PyCQA/pylint/
pylint-quotes = "*"  # https://github.com/edaniszewski/pylint-quotes


# Testing
# -----------------------------------------------------------------------------
factory_boy = "*"  # https://github.com/FactoryBoy/factory_boy
pytest = "*"  # https://github.com/pytest-dev/pytest
pytest-cov = "*"  # https://github.com/pytest-dev/pytest-cov
pytest-django = "*"  # https://github.com/pytest-dev/pytest-django
pytest-pythonpath = "*"  # https://github.com/bigsassy/pytest-pythonpath


[requires]
python_version = "3.10"
